html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
#home {
  position: relative;
}
/* navbar */
.navbar {
  text-transform: uppercase;
  font-family: gotham-medium;
  font-size: 14px;
}
.navbar-brand img {
  height: auto;
  max-width: 68px;
  width: 100%;
}
.navbar-nav li {
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #00b595;
}
.fixed-top {
  z-index: auto;
}

/* Landing page */
.home-inner {
  background-image: url(images/misc/pool.jpg);
  background-size: cover;
  background-position: center top;
  height: 1121px;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 35%;
  z-index: 1;
}

/* Welcome */
#welcome .container {
  padding-right: 0;
  padding-left: 0;
}
.welcome-inner {
  background-image: url(images/misc/panel.jpg);
  background-size: cover;
  background-position: center;
  height: 1605px;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.welcome-keycard-napkin {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
/* .welcome-card {
  width: 45rem;
} */
.welcome-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: -1740px;
  position: relative;
}

.welcome-text {
  z-index: 3;
  margin-top: -475px;
  margin-bottom: 350px;
}

.keycard {
  display: flex;
  justify-content: flex-end;
}
.keycard img {
  z-index: 1;
  margin-right: -12px;
  margin-top: 10px;
}
.napkin img {
  margin-left: -75px;
  margin-top: -240px;
  z-index: -1;
}

/* About  */
#about {
  position: relative;
}
.about-inner {
  background-image: url(images/misc/sitting-pool.jpg);
  background-size: cover;
  background-position: center;
  height: 1360px;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about-button {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 200px;
  font-family: gotham-medium;
  font-size: 27px;
}
.about-card {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 34%;
  z-index: 1;
}

/* Brand */
/* #brand {
  position: relative;
} */
#brand .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}
.brand-inner {
  background: #00b595;
  height: 994px;
  width: 100vw;
}

.glasses-text img {
  position: absolute;
  bottom: -150px;
  left: -125px;
  z-index: 1;
}
.ensilo img {
  position: absolute;
  bottom: 300px;
}

/* Demo section */
#demo {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
#demo .container-fluid {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  display: flex;
}

.demo-inner {
  background-image: url(images/misc/leaf.jpg);
  background-size: cover;
  background-position: center;
  height: 1866px;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.demo-text {
  position: absolute;
  top: 10%;
  left: 32%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: farewell-angelina-sample;
  font-size: 37px;
}
.demo-form {
  /* width: 100%;
  max-width: 100%; */
  position: absolute;
  top: 20%;
  left: 23%;
  right: 20%;
}
.demo-form label {
  color: #fff;
  font-family: gotham-medium;
  font-size: 27px;
}
.demo-button {
  position: absolute;
  top: 60%;
  left: 40%;
}
.gold-logo {
  position: absolute;
  left: 40%;
  top: 70%;
}

/* media queries  */

@media screen and (min-width: 880px) and (max-width: 1200px) {
  .glasses-text img {
    position: absolute;
    bottom: -65px;
    left: -125px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .brand-inner {
    height: 500px;
  }
  .glasses-text img {
    bottom: -17px;
    left: -50px;
  }
  .ensilo img {
    bottom: 160px;
    width: 65%;
  }
}

@media screen and (max-width: 425px) {
  .brand-inner {
    height: 325px;
  }
  .glasses-text img {
    bottom: -12px;
    left: -15px;
  }
  .ensilo img {
    bottom: 85px;
    width: 65%;
  }
}
@media screen and (max-width: 320px) {
  .brand-inner {
    height: 225px;
  }
  .ensilo img {
    bottom: 65px;
    width: 65%;
  }
}
